.containerAllCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: space-evenly;
  margin: 0;
  display: grid;
  margin-top: 10px;
}

.containerCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  margin-left: 48px;
}

.search > input {
  width: 12%;
  background-color: transparent;
  color: #000;
  border: none;
  border-bottom: 2px solid #1e1e1e;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
}

.magnifyingGlass {
  transform: translate(-25px, 6px);
}

.buttonsPages {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.backAndNext {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.backAndNext::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.backAndNext:hover {
  color: #e8e8e8;
}

.backAndNext:hover::before {
  width: 100%;
}
