.containerAllCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: space-evenly;
  margin: 0;
  display: grid;
  margin-top: 10px;
}

.containerCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  margin-left: 48px;
}

.search > input {
  width: 12%;
  background-color: transparent;
  color: #000;
  border: none;
  border-bottom: 2px solid #1e1e1e;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
}

.magnifyingGlass {
  transform: translate(-25px, 6px);
}

.buttonsPages {
  display: flex;
  justify-content: center;
}
