.containerForm {
  font-family: "Questrial", sans-serif;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  padding: 20px;
  letter-spacing: 1.5px;
  background-color: rgb(8, 8, 8);
  color: #fff;
  border-radius: 3px;
}

.input:focus-visible {
  outline: none;
}

::placeholder {
  color: #fff;
}

.required {
  margin-top: 20px;
  color: #fff;
}

.btnEndPurchase {
  background-color: black;
  color: white;
  border-radius: 7px;
  padding: 10px;
  border: none;
  margin-top: 15px;
  transition: ease-in-out 0.4s;
  letter-spacing: 1.5px;
}

.btnEndPurchase:hover {
  background-color: black;
  letter-spacing: 4px;
}

.btnEndPurchase:focus {
  background-color: rgb(0, 0, 0);
  border-color: #000000;
  box-shadow: none;
}

.btnEndPurchase:focus-visible {
  display: none;
}

.btnEndPurchase:active {
  border: transparent;
  border-color: black;
  box-shadow: none;
}

div.divBtnPurchase {
  width: 500px;
}

.buttonBackForm {
  font-family: "Questrial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: transparent;
  margin-left: 25px;
  text-decoration: none;
  color: black;
}

.buttonBackForm:hover {
  transform: translateX(-4px);
  background-color: transparent;
  color: black;
}
